<ion-view class="" ng-hide="categoryId==settings'">
  <ion-nav-title>
    <span>{{categoryTitle}}</span>
  </ion-nav-title>
  <ion-content>

    <input type="text" placeholder="Search" ng-hide="categoryId=='settings' || categoryId=='addticketwithphoto'">
         

   <div class="list category-homes">
      <a ng-repeat="source in category_sources" class="item item-icon-right" ui-sref="app.category-entries({categoryId: categoryId, sourceId: (source.title)})">
        <div class="thumbnail-outer" style="height:80px;">
          <pre-img ratio="_1_1" helper-class="">
            <img class="" ng-src="{{source.image}}" spinner-on-load>
          </pre-img>
        </div>
        <div>
          <span class="title">{{source.title}}</span>
          <p class="description">{{source.description}}</p>
        </div>
        <i ng-hide="categoryId=='shop'" class="icon ion-arrow-right-c"></i>
        <i ng-show="categoryId=='shop'" class="icon ion-bag"></i>

      </a>
    </div>

    <div class="form-group padding-top" ng-show="categoryId=='addticketwithphoto'">                   
          <button class="button button-full button-positive icon ion-camera" data-ng-click="takePicture()">
            Scatta!
          </button> 
      </div>

    <div class="item item-image" ng-show="categoryId=='addticketwithphoto'">
          <img ng-src="{{cameraPic}}"/>
    </div>     


  </ion-content>
</ion-view>
<ion-view class="profile-view" ng-show="categoryId=='settings'">
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="{{user.picture}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{user.name}} {{user.surname}}</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['img/sfondoSettings.png']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" value="Laura" ng-disabled="modifica">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Cognome</span>
          <input type="text" placeholder="Cognome" value="Rossi" ng-disabled="modifica">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" value="laura.rossi@email.it" ng-disabled="modifica">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Cellulare</span>
          <input type="text" placeholder="Cellulare" value="3477608470" ng-disabled="modifica">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" value="passworddifficilissima" ng-disabled="modifica">
        </label>
         <button  class="button button-positive-right" style="float:right; border:0;" ng-click="cambiaModifica();">
            <i ng-show='!modifica' class="icon ion-edit"></i>
            <i ng-show='modifica' class="icon ion-checkmark-round">Salva </i>
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>


gfgr