<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
       
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="#">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="{{user.picture}}" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">Ciao {{user.name}}.</h2>
          <p class="message">Bentornata!</p>
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.alltickets">
          <i class="icon ion-pricetags"></i>
          <h2 class="menu-text">Tutti i biglietti!</h2>
        </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref="app.allshop">
          <i class="icon ion-bag"></i>
          <h2 class="menu-text">I tuoi acquisti!</h2>
        </ion-item>
        <ion-item class="item-icon-left"  menu-close ui-sref="#">
          <i class="icon ion-power"></i>
          <h2 class="menu-text">Logout</h2>
        </ion-item>
       <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Tutti i biglietti!</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-radio-waves"></i>
          <h2 class="menu-text">Impostazioni</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.wordpress">
          <i class="icon ion-social-wordpress"></i>
          <h2 class="menu-text">Logout</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.layouts">
          <i class="icon ion-wand"></i>
          <h2 class="menu-text">Layouts</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.miscellaneous">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text">Miscellaneous</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.forms">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">Forms</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item>-->

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
